* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(223, 245, 231);
  margin-bottom: 3rem;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 1002;
  box-shadow: 0px 0px 13px rgb(178, 200, 186);
}
form input {
  padding: .6rem 1rem ;
  border-radius: 17px;
  /* border: 2px solid rgb(178, 200, 186); */
  border: none;
  margin-right: .5rem;
}
button {
  border: none;
  background-color: white;
}
form button {
  /* border: 1px solid gray; */
  border-radius: 8px;
  height: 1.7rem;
  margin: auto 0.3rem;
  display: inline-block;
  box-shadow: 2px 3px 5px rgb(178, 200, 186);
}
#surprise {
  font-weight: 500;
  background-color: rgb(151, 181, 123);
  color: white;
}
form {
  width: 100%;
  display: grid;
  grid-template-columns: 6fr 1fr 1fr;
  margin: 2rem 0;
}
button:hover {
  cursor: pointer;
}
form * {
  margin: 0 .3rem;
}
header a {
  text-decoration: none;
  color: inherit;
  padding: 0 1rem;
}
main {
  width: 80%;
  margin: 0 auto;
}
.heart {
  height: 28px;
  width: 28px;
  background-size: 28px 28px;
}
input[type="checkbox"] + label {
  background-image: url(./images/heart_empty_black.png);
  transition: .2s ease-out;
}
input[type="checkbox"]:checked + label {
  background-image: url(./images/heart_black.png);
}
input[type="checkbox"] {
  visibility: collapse;
}
#topcheck + label {
  transition: none;
}
.recipe > img{
  width: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.recipe {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 3px 7px rgb(178, 200, 186);
  transition: 0.3s;
}
.recipe:hover {
  box-shadow: 0px 9px 13px rgb(178, 200, 186);
}
.recipe img:hover {
  cursor: pointer;
}
.recipe img:active {
  cursor: pointer;
}
.recipe:active {
  box-shadow: 0px 9px 13px rgb(147, 166, 154);
}
.recipe h2 {
  font-weight: 500;
  max-width: 80%;
}
.recipes {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  height: 100px;
}
.bottom h2 {
  line-height: 23px;
}
.welcome {
  margin: 7rem 0 3rem;
}
.welcome {
  display: flex;
  justify-content: space-evenly;
}
.welcome img {
  height: 300px;
}
.rookie-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.rookie-text * {
  padding: .5rem 0;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  bottom: 0;
  overflow: auto;
  background-color: white;
  width: 700px;
  height: 750px;
  max-height: 80%;
  border-radius: 8px;
  z-index: 10001;
}
.popup p {
  font-size: 22px;
  white-space: pre-line;
  line-height: 40px;
}
.popup h2 {
  /* margin-bottom: 2rem; */
  font-size: 32px;
}
.sticky {
  position:static;
  padding: 0 1rem 1rem;
  margin-top: -1rem;
  z-index: 1055;
}
.popup > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position:relative;
  top: -30px;
  filter: brightness(80%);
}
.close {
  position: sticky;
  top: 7px;
  left: 94%;
  z-index: 1003;
  height: 30px;
  width: 30px;
}
.close:hover {
  cursor: pointer;
}
.close:before, .close:after {
  visibility: visible;
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 3px;
  background-color: white;
  z-index: 1004;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.iframe {
  background-color: rgba(0, 0, 0, 0.251);
  /* filter: brightness(60%); */
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.disabled {
  visibility: collapse;
}
.overflow {
  overflow: hidden;
}
.botbut {
  width: 100%;
  height: 120px;
  max-height: fit-content;
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.391);
}

.buttons .heart{
  height: 40px;
  width: 40px;
  background-size: 40px 40px;
  margin-left: .5rem;
  display: inline-block;
}
.heart:hover {
  cursor: pointer;
}
.buttons a img {
  height: 40px;
}

.buttons label {
  z-index: 7000;
  filter:invert();
}
.ingredients {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 1rem;
}
.ingredients > p::first-letter {
  text-transform: capitalize;
}
.mealname {
  color: white;
  max-width: 80%;
}
.both2 {
  padding: 1rem 0;
}
@media all and (max-width: 834px) {
  .recipes {
    grid-template-columns: 1fr 1fr;
  }
  .popup {
    max-width: 80%;
    max-height: 70%;
  }
  .welcome {
    display: block;
  }
  .rookie-text {
    width: 100%;
  }
  .welcome img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 1rem;
  }
}
@media all and (max-width: 500px) {
  .recipes {
    display: block;
  }
  .recipe {
    margin-bottom: 2rem;
  }
}
